.bg-wonkes-1 {
  background-color: #082d0f;
}

.bg-wonkes-2 {
  background-color: #30592e;
}

.bg-wonkes-3 {
  background-color: #458441;
}

.bg-wonkes-4 {
  background-color: #61b15e;
}

.bg-wonkes-5 {
  background-color: #60be5d;
}

.bg-wonkes-6 {
  background-color: #75d872;
}

.border-wonkes-1 {
  border-color: #082d0f;
}

.border-wonkes-2 {
  border-color: #30592e;
}

.border-wonkes-3 {
  border-color: #458441;
}

.border-wonkes-4 {
  border-color: #61b15e;
}

.border-wonkes-5 {
  border-color: #60be5d;
}

.border-wonkes-6 {
  border-color: #75d872;
}
