.register-button{
  background-color: #082D0F !important;
}
.register-button:hover{
  background-color: #30592e !important;
}

.reset-button{
  background-color: #61b15e !important;
  border-color:#61b15e !important;
}

.reset-button:hover{
  background-color: #75d872 !important;
}

#login-link{
  color: #458441 !important;
}

#login-link:hover{
  color: #60be5d !important;
}