:root {
  --nat-navbar-bg: #082D0F;
  --nat-navbar-bg-color: #082D0F;
  --nat-navbat-text-highlight: khaki;
  --nat-navbar-highlight-text: var(--bs-gray-500);
  --nat-navbar-highlight-bg: lightblue;
  --nat-navbar-bg-rgb: 0, 0, 139;
  --nat-navbar-text-color: white;
  --theme-color-1: #082d0f;
  --theme-color-2: #30592e;
  --theme-color-3: #458441;
  --theme-color-4: #61b15e;
  --theme-color-5: #60be5d;
  --theme-color-6: #75d872;
  --theme-color-7: #a8c686;
}

body .navbar {
  --bs-navbar-active-color: var(--nat-navbar-highlight-text);
  --bs-navbar-brand-color: var(--nat-navbar-text-color);
  --bs-navbar-brand-hover-color: var(--nat-navbar-highlight-text);
  --bs-navbar-color: var(--nat-navbar-text-color);
  --bs-navbar-hover-color: var(--nat-navbar-highlight-text);
}

html,
body {
  --bs-light-rgb: 236, 236, 236;
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
  background: fixed center url("/mm2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

footer, footer a {
  color: var(--nat-navbar-bg-color);
}

.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#support {
  background-color: aliceblue;
}

a {
  color: var(--theme-color-3);
}

a:hover {
  color: var(--theme-color-5);
}

.bg-wonkes-1 {
  background-color: var(--theme-color-1);
}

.bg-wonkes-1:hover {
  background-color: var(--theme-color-3);
}

.bg-wonkes-1:active {
  background-color: var(--theme-color-5) !important;
}

.bg-wonkes-2 {
  background-color: var(--theme-color-2);
}

.bg-wonkes-3 {
  background-color: var(--theme-color-3);
}

.bg-wonkes-4 {
  background-color: var(--theme-color-4);
}

.bg-wonkes-4:hover {
  background-color: var(--theme-color-6);
}

.bg-wonkes-4:active {
  background-color: var(--theme-color-7) !important;
}

.bg-wonkes-5 {
  background-color: var(--theme-color-5);
}

.bg-wonkes-6 {
  background-color: var(--theme-color-6);
}

.bg-wonkes-7 {
  background-color: var(--theme-color-7);
}

.border-wonkes-1 {
  border-color: var(--theme-color-1);
}

.border-wonkes-2 {
  border-color: var(--theme-color-2);
}

.border-wonkes-3 {
  border-color: var(--theme-color-3);
}

.border-wonkes-4 {
  border-color: var(--theme-color-4);
}

.border-wonkes-5 {
  border-color: var(--theme-color-5);
}

.border-wonkes-6 {
  border-color: var(--theme-color-6);
}
