:root {
  --nat-navbar-bg: #30592e;
  --nat-navbar-bg-color: #30592e;
  --nat-navbat-text-highlight: khaki;
  --nat-navbar-highlight-text: var(--bs-gray-500);
  --nat-navbar-highlight-bg: lightblue;
  --nat-navbar-bg-rgb: 0, 0, 139;
  --nat-navbar-text-color: white;
  --theme-color-1: #082d0f;
  --theme-color-2: #30592e;
  --theme-color-3: #458441;
  --theme-color-4: #61b15e;
  --theme-color-5: #60be5d;
  --theme-color-6: #75d872;
  --theme-color-7: #a8c686;
}


body .navbar {
  --bs-navbar-active-color: var(--nat-navbar-highlight-text);
  --bs-navbar-brand-color: var(--nat-navbar-text-color);
  --bs-navbar-brand-hover-color: var(--nat-navbar-highlight-text);
  --bs-navbar-color: var(--nat-navbar-text-color);
  --bs-navbar-background-color: var(--nat-navbar-bg-color);
  --bs-navbar-hover-color: var(--nat-navbar-highlight-text);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 16px;
}

.flex-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.box {
  width: calc(50% - 8px); /* two per row, considering gap */
  background: #f3f3f3;
  padding: 20px;
  border-radius: 8px;
}

html,
body {
  --bs-light-rgb: 236, 236, 236;
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #458441;
  background-size: cover;
  background-repeat: no-repeat;
}

footer, footer a {
  color: var(--nat-navbar-bg-color);
}

.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#support {
  background-color: aliceblue;
}

.link-wonkes {
  color: var(--theme-color-3) !important;
}

.link-wonkes:hover {
  color: var(--theme-color-5) !important;
}

.bg-wonkes-1 {
  background-color: var(--theme-color-1) !important;
}

.bg-wonkes-1:hover {
  background-color: var(--theme-color-3) !important;
}

.bg-wonkes-1:active {
  background-color: var(--theme-color-5) !important;
}

.bg-wonkes-2 {
  background-color: var(--theme-color-2) !important;
}

.bg-wonkes-3 {
  background-color: var(--theme-color-3) !important;
}

.bg-wonkes-4 {
  background-color: var(--theme-color-4) !important;
}

.bg-wonkes-4:hover {
  background-color: var(--theme-color-6) !important;
}

.bg-wonkes-4:active {
  background-color: var(--theme-color-7) !important;
}

.bg-wonkes-5 {
  background-color: var(--theme-color-5) !important;
}

.bg-wonkes-6 {
  background-color: var(--theme-color-6) !important;
}

.bg-wonkes-7 {
  background-color: var(--theme-color-7) !important;
}

.border-wonkes-1 {
  border-color: var(--theme-color-1) !important;
}

.border-wonkes-2 {
  border-color: var(--theme-color-2) !important;
}

.border-wonkes-3 {
  border-color: var(--theme-color-3) !important;
}

.border-wonkes-4 {
  border-color: var(--theme-color-4) !important;
}

.border-wonkes-5 {
  border-color: var(--theme-color-5) !important;
}

.border-wonkes-6 {
  border-color: var(--theme-color-6) !important;
}

.no-link-style {
  text-decoration: none;
  color: inherit;
}
